</main>

<footer>
    <div class="footer">
        <div class="social-media">
            <p>Follow us on</p>
            <a href="#"><img src="/images/social media/facebook.png" alt="facebook"></a>
            <a href="#"><img src="/images/social media/instagram.png" alt="instagram"></a>
            <a href="#"><img src="/images/social media/twitter.png" alt="twitter"></a>
            <a href="https://www.youtube.com/channel/UCjVModXAzq1uGt8kv_4dMVg" target="_blank"><img
                    src="/images/social media/youtube.png" alt="youtube"></a>
        </div>
        <p>&copy 2020 C-Craft Student Activity. All rights reserved.</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</body>

</html>